<section class="PaymentInfo" ng-controller="CheckoutCtrl">

  <h3>
    <div class="fa fa-caret-right">
    </div>
    選擇付款方式
  </h3>

  <h1>{{payment}}</h1>

  <select ng-model="payment" >
    <option ng-repeat="i in payment_options" value="{{i.value}}">
      {{i.name}}
    </option>
  </select>

  <article class="CARD payment_method">

    <hgroup class="CARD now">
      <a class="Cards now" ng-click="clicked=true">
        <div class="fa fa-credit-card">
        </div>
        一般信用卡
      </a>
      <a href="#" data-type="ae" class="Cards">
        <div class="fa fa-credit-card">
        </div>
        美國通運白金卡
        <br>
        5% 紅利回饋
      </a>
    </hgroup>

    <hgroup ng-class="{info: clicked, credit_card_promotion: clicked, card_promotion_card: clicked}" style="display: block;">
      <hgroup ng-show="payment=='CARD'">
        <p>
          您已選擇
          <em>
            一般信用卡
          </em>
          方式付款。
          <br>
          EZTABLE Shopping 消費有保障：
          <br>
          1.信託履約帳戶 - 消費絕對有保障。
          <br>
          2.交易/帳務查詢 - 商品明細隨時查。
          <br>
          3.交易過程經過SSL 256bit安全加密機制，保障您的刷卡安全。
          <br>
          4.刷卡完成，即開始處理您的訂單，便利優惠不用等。
          <br>
          5.本商品禮券，已與歐付寶財金資訊股份有限公司等相互連帶擔保，持本禮券可依面額向上列公司購買等值之商品。上列公司不得為任何異議或差別待遇，亦不得要求任何費用或補償。
          <br>
          6.各商品禮券發行人資訊可至商品資訊頁的餐券介紹裡查閱。
        </p>
      </hgroup>



      <hgroup ng-show="payment=='ATM'">
        <p>
          您已選擇
          <em>
            ATM
          </em>
          轉帳付款 方式付款。
          <br>
          本公司匯款轉帳帳號資料如下
          <br>
          <em>
            國泰世華銀行 台北分行
          </em>
          <br>
          機構代號：
          <em>
            013
          </em>
          <br>
          匯款帳號：
          <em>
            007-03-500194-2
          </em>
          <br>
          戶名：
          <em>
            三二三網路科技股份有限公司
          </em>
          <br>
          ATM匯款採人工對帳，於週一～週五下午2點前完成匯款，餐券將於當日寄送。如下午2點以後完成匯款，餐券將於隔日為您確認寄出。如急需使用餐券，建議採用其它付款方式或歡迎來電：02-2731-8323。
          <br>
          <span class="fa fa-asterisk">
          </span>
          請填入您的帳號末五碼
          <input name="pay_account" maxlength="5" type="text" placeholder="範例：12345">
        </p>

      </hgroup>

      <hgroup class="info credit_card_promotion card_promotion_ae" style="display: block;" ng-show="payment=='CASH'">
        <article class="CASH payment_method">
          <p>
            您已選擇
            <em>
              現金付款（限自取）
            </em>
            方式付款。
            <br>
            請至
            <em>
              台北市大安區仁愛路四段85號15F-A1（仁愛圓環，國泰世華大樓）
            </em>
          </p>
        </article>
      </hgroup>

    </hgroup>

    <div class="clearFix">
    </div>
</section>

